<a href="https://colab.research.google.com/github/AnshumanAryan24/22BCE0219-BCSE206L-Project/blob/main/notebooks/BCSE206L_Review1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics as st

In [ ]:
 df = pd.read_csv('/content/Fertility2.csv')

In [ ]:
l = df.size
for col in df.columns:
  data = df[col]
  print(f"column: {col} \t dataype: {type(data[0])} ", end = "")
  if (col=='age' or col=='work'):
    print(f"Std. dev: {st.stdev(data)} \t mean: {st.mean(data)}", end="")
  else:
    print(f"Yes: {100*len(data[data=='yes'])/len(data)} \t No: {100*len(data[data=='no'])/len(data)}", end="")
  print()

column: rownames 	 dataype: <class 'numpy.int64'> Yes: 0.0 	 No: 0.0
column: morekids 	 dataype: <class 'str'> Yes: 37.76 	 No: 62.24
column: gender1 	 dataype: <class 'str'> Yes: 0.0 	 No: 0.0
column: gender2 	 dataype: <class 'str'> Yes: 0.0 	 No: 0.0
column: age 	 dataype: <class 'numpy.int64'> Std. dev: 3.3834316971418033 	 mean: 30.354266666666668
column: afam 	 dataype: <class 'str'> Yes: 5.326666666666667 	 No: 94.67333333333333
column: hispanic 	 dataype: <class 'str'> Yes: 7.44 	 No: 92.56
column: other 	 dataype: <class 'str'> Yes: 5.683333333333334 	 No: 94.31666666666666
column: work 	 dataype: <class 'numpy.int64'> Std. dev: 21.941017676759884 	 mean: 19.2095

In [ ]:
l = df.size
for col in {'gender1', 'gender2'}:
  data = df[col]
  print(f"column: {col} \t dataype: {type(data[0])} ", end = "")
  if (type(data) in {np.int64, np.float32}):
    print(f"Std. dev: {st.stdev(data)} \t mean: {st.mean(data)}", end="")
  else:
    print(f"Male: {100*len(data[data=='male'])/len(data)} \t Female: {100*len(data[data=='female'])/len(data)}", end="")
  print()

column: gender1 	 dataype: <class 'str'> Male: 51.50333333333333 	 Female: 48.49666666666667
column: gender2 	 dataype: <class 'str'> Male: 50.60666666666667 	 Female: 49.39333333333333